{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="nav">
  <p class="logout"><a href="{% url 'logout' %}" style=color:#edede9;>Log Out</a></p>
</div>
<div class = "envelope">
    <img src="../static/images/carta.png"  style="float:left;margin-top:30px; margin-bottom:20px;margin-left:350px;" width="700px">
</div>


{% else %}
<div class="title" style="font-size: 25px;">
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
</div>
{% endif %}
{% endblock %}